<!DOCTYPE html>
<head>
    <title>Meadowlark Travel</title>
    <style>
        img{
            width: 10%;
            height: 10%;
            float: left;
            padding: 10px;
        }
    </style>
</head>
<body>  
    <header>
        <img src="/img/logo.jpg" alt="Meadowlark Travel Logo">
    </header>
    {{{body}}}
</body>
</html>